<div style="text-align: center;"><h1>Add/Edit Instructor</h1></div>
<table class='table table-striped'>
    <thead>
        <tr>
          <th>First name</th>
          <th>Last Name</th>
          <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instructor of instructors">
          <td>{{ instructor.firstName }}</td>
          <td>{{ instructor.lastName }}</td>
          <td><button type="button" class="btn btn-danger">DELETE</button></td>
        </tr>
    </tbody>
</table>
<div style="text-align: center;"><h1>Instructor Details</h1>
  <br>
  <label><h5 style="text-align: initial">First Name</h5><input type="text" style="margin-right: 20px" [(ngModel)]="changingInstructor.firstName"></label>
  <label><h5 style="text-align: initial">Middle Name</h5><input type="text" style="margin-right: 20px" [(ngModel)]="changingInstructor.middleName"></label>
  <label><h5 style="text-align: initial">Last Name</h5><input type="text" [(ngModel)]="changingInstructor.lastName"></label>
  <br>
  <button type="button" class="btn btn-primary">ADD/SAVE</button>
</div>

